.skills {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  text-align: start;
  align-items: center;
  flex-direction: column;
}

.skills section {
  margin-bottom: 1rem;
}

.skill-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#downloadBtn {
  position: relative;
  right: 12px;
  width: 115%;
  align-self: flex-end;
  margin-top: 0.5rem;
  background: var(--accent);
  height: 25px;
  border-radius: 5px;
  border: none;
  transition: 200ms ease-in-out;
}

#downloadBtn:hover {
  scale: 95%;
}
